* {
   padding:0; 
   margin:0; 
   border:0;
  }

.m1 {margin:5px}
.m2 {margin:10px}
.m3 {margin:15px}

.tsz1 {font-size: 12px;}
.tsz2 {font-size: 14px;}
.tsz3 {font-size: 16px;}

body {
    background-color:#25252c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

.header {
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    background-color: #fff;
    margin: 0;
    padding-top: 20px; 
    padding-bottom:20px;
        
}

.logo {
    margin-left: 25px;
}

.menu {
    list-style-type: none;
    margin: 20px;   
    color: #25252c; 
}

.menu li {
    display: inline;
    margin: 10px;    
}

.principal-content { 
    display: flex;
    width: 80%;
    height:auto; 
    margin: 0 auto;    
    padding: 20px;
     
}

.content-card {
    width: 100%;
     list-style-type: none;      
     margin: 0 auto;
     margin-left: 36px;
}

.card {
    width: 150px;
     height: 340px;
    background-color: #292d30;
    border: 1px solid #323232;
    padding: 10px;
    color: white;
    margin: 10px;
    float: left;
}

.card a {
    color: #6da195;
    text-decoration: none;
}

.img-card {
    width: 100%;
}

.img-crd {
    width: 100%;
}

.footer {
    width: 100%;
    height: 150px;
    background-color: #292d30;    
}

.text-footer {
    width: 100%;
    height: auto;
    text-align: center;    
    margin-top: 54px;
    display: inline-block;     
}
 
 